/* Navbar */
nav {
    display: flex;
    background-color: transparent;
    justify-content: space-around ;
    font-size: 120%;
    /* padding: 20px 0; */
    color: rgb(24, 21, 27);
    height: 50px;
    align-items: center;
    margin: 0;
    padding: 0;
    font-family: 'Orelega One' sans-serif;
    overflow-x: hidden;
}

nav .logo {
    font-family: 'Noto Serif', serif;
    letter-spacing: 3px;
}

nav ul {
    display: flex;
    list-style: none;
    width: 40%;
    justify-content: space-between;
}

nav ul li a{
    color: rgb(24, 21, 27);
    text-decoration: none;
    font-size: 0,8cm;
}

nav ul li a:hover {
    color:  rgb(24, 21, 27);
}

/* Hamburger Menu */
.menu-toggle {
    display: none;
    flex-direction: column;
    height: 20px;
    justify-content: space-between;
    position: relative;
}

.menu-toggle input {
    position: absolute;
    width: 40px;
    height: 28px;
    left: -5px;
    top: -3px;
    opacity: 0;
    cursor: pointer;
    z-index: 2;
}

.menu-toggle span {
    display: block;
    width: 28px;
    height: 3px;
    background-color:  rgb(24, 21, 27));
    border-radius: 3px;
    transition: all 1s;
}

/* Hamburger Menu Animation */
.menu-toggle span:nth-child(2) {
    background-color: black;
    transform-origin: 0 0;
}

.menu-toggle span:nth-child(3) {
    background-color: black;
    transform-origin: 0 0;
}

.menu-toggle span:nth-child(4) {
    background-color: black;
    transform-origin: 0 0;
}

.menu-toggle input:checked ~ span:nth-child(2){
    background-color: black;
    transform: rotate(45deg) translate(-1px, -2px);
}

.menu-toggle input:checked ~ span:nth-child(4){
    background-color: black;
    transform: rotate(-45deg) translate(-1px, -1px);
}

.menu-toggle input:checked ~ span:nth-child(3){
    opacity: 0;
    transform: scale(0);
}

/* Responsive Breakpoint */

/* ukuran tablet */
@media screen and (max-width: 768px) {
    nav ul {
        width: 50%;
    }
}

/* ukuran mobile */
@media screen and (max-width: 576px) {
    .menu-toggle {
        display: flex;
    }
    nav ul {
        position: absolute;
        right: 0;
        top: 0;
        width: 45%;
        height: 100vh;
        justify-content: space-evenly;
        flex-direction: column;
        align-items: center;
        background-color: rgba(168, 110, 197, 0.167);
        z-index: -1;
        transform: translateX(100%);
        transition: all 1s;
        opacity: 0;
    }

    nav ul.slide {
        opacity: 1;
        transform: translateX(0);
    }

}